@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">
            <a class="btn btn-danger btn-sm nav-item mt-1" href="javascript:document.getElementById('logoutForm').submit()">
                Log off
            </a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/account/login">Login</a>
    </li>
}
