@model IEnumerable<MvcMovieStore.DataAccessLayer.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Store</h2>

<div class="row">
    @foreach (var album in Model)
    {
        ViewBag.Link = "/store/details?id=" + album.Id;

        <div class="col-md-3">
            <div class="card card-album">
                <a href="@ViewBag.Link">

                    <div class="album-container">
                        <div class="img-container">
                            <img class="card-img" src="@album.AlbumArtUrl" />
                        </div>
                        <span class="tag genre">@album.Genre.Name</span>
                        <span class="tag price">R@(album.Price)</span>
                    </div>
                    <div class="card-title text-center">
                        <h4 class="font-weight-bold">@album.Title</h4>
                    </div>
                </a>

            </div>
        </div>

    }

</div>